@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-size: 18px;
    font-family: "Public Sans", sans-serif;
}
